<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>
<!-- feed.html.erb -->
<% @following_tweets.each do |tweet| %>
  <div class="well">
    <p>
    	<% if (tweet.user.avatar.url != nil) %>
      <%= image_tag tweet.user.avatar.url %> 
      <% end %>
      <%= link_to tweet.user.name, show_user_path(id: tweet.user_id) %> 
      @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %> 
• 
<%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> 
<%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %> 
    </p>
    <p><%= tweet.message.html_safe %></p>
  </div>
<% end %>